<div class="mx-20 mb-8">
    <h1>Funcionamiento de la Memoria Cache y la Memoria Principal</h1>
    <p>Para que la cache funcione de forma óptima con la memoria principal, es necesario establecer pasos y protocolos para ubicar, extraer, remplazar y actualizar la memoria cache. Este sistema presentará simulaciones de estas políticas para un mejor entendimiento de estas.</p>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <ng-container *ngFor="let link of links">
        <div>
            <acs-nav-card [link]="link"></acs-nav-card>
        </div>
    </ng-container>
</div>