<mat-card [ngClass]="theme.background">
  <mat-slide-toggle color="primary" (change)="toggleBitMode()">
    Bits mode
  </mat-slide-toggle>
  <div class="flex flex-row">
    <div class="flex-auto w-3/4 h-full">
      <div class="flex flex-row">
        <div id="main-memory" class="flex-auto shadow w-1/2 h-full">
          <div id="memory" [ngClass]="theme.main" #memory></div>
        </div>
        <div id="cache-memory" class="flex-auto shadow w-1/2 h-full">
          <div id="cache" [ngClass]="theme.accent" #cache></div>
        </div>
      </div>
    </div>

    <div class="flex-auto w-1/4">
      <form [formGroup]="formGroup" (submit)="onSubmit($event)">
        <div #memGroup>
          <ng-container *ngIf="bitsMode.getValue()">
            <mat-form-field>
              <input
                type="number"
                placeholder="Ancho de memoria principal"
                aria-label="Number"
                formControlName="memSize"
                #memSize
                (change)="setMemoryAddrSize(memSize)"
                matInput
                [matAutocomplete]="auto"
              />
              <ng-container *ngIf="MemorySize.invalid">
                <mat-error *ngIf="MemorySize.errors?.notIncluded">{{
                  MemorySize.errors?.notIncluded?.message
                }}</mat-error>
              </ng-container>
            </mat-form-field>
            bits
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let bits of bitSuggestionSet"
                #memSizeOtions
                (onSelectionChange)="setMemoryAddrSize(memSizeOtions)"
                [value]="bits"
              >
                {{ bits }}
              </mat-option>
            </mat-autocomplete>
            <br>
            Maximo direccionable: {{MemoryAddrSize?.readable}} {{MemoryAddrSize?.unit}}
          </ng-container>

          <ng-container *ngIf="!bitsMode.getValue()">
            <mat-form-field>
              <input
                matInput
                #memSize
                type="number"
                placeholder="Maximo direccionable Memoria Principal"
                aria-label="Number"
                formControlName="memSize"
                autocomplete="off"
                (change)="setMemoryAddrSize(memSize)"
              />
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <input
                type="text"
                placeholder="Multiplo"
                aria-label="Text"
                formControlName="memTypeSize"
                #memTypeSize
                (change)="setMemoryAddrTypeSize(memTypeSize)"
                matInput
                [matAutocomplete]="autoMemType"
              />
              <ng-container *ngIf="MemorySize.invalid">
                <mat-error *ngIf="MemorySize.errors?.notIncluded">{{
                  MemorySize.errors?.notIncluded?.message
                }}</mat-error>
              </ng-container>
            </mat-form-field>
            <mat-autocomplete #memTypeSizeOtions (optionSelected)="setMemoryAddrTypeSize(memTypeSizeOtions)" #autoMemType="matAutocomplete">
              <mat-option
                *ngFor="let bits of ByteUnitsDict"
                [value]="bits"
              >
                {{ bits }}
              </mat-option>
            </mat-autocomplete>
            <br />
            Bits: {{MemoryAddrSize?.bits}}
          </ng-container>
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Tamano de cache"
              formControlName="cacheSize"
              #cacheSize
              (change)="setCacheAddrSize(cacheSize)"
              [matAutocomplete]="cacheAutocomplete"
            />
          </mat-form-field>
          bits
          <mat-autocomplete #cacheAutocomplete="matAutocomplete">
            <mat-option
              *ngFor="let bits of bitSuggestionSet"
              #cacheSizeOptions
              (onSelectionChange)="setCacheAddrSize(cacheSizeOptions)"
              [value]="bits"
            >
              {{ bits }}
            </mat-option>
          </mat-autocomplete>
          <br />
          Maximo cache: {{ CacheSize?.readable }} {{ CacheSize?.unit }}
        </div>
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Tamano de bloques"
              formControlName="wordSize"
              #wordSize
              (change)="setWordSize(wordSize)"
              [matAutocomplete]="wordAutocomplete"
            />
          </mat-form-field>
          bits
          <mat-autocomplete #wordAutocomplete="matAutocomplete">
            <mat-option
              *ngFor="let bits of bitSuggestionSet"
              #wordSizeOptions
              (onSelectionChange)="setWordSize(wordSizeOptions)"
              [value]="bits"
            >
              {{ bits }}
            </mat-option>
          </mat-autocomplete>
          <br />
          Blocksize: {{ WordSize?.readable }} {{ WordSize?.unit }}
        </div>
        <button
          mat-button
          color="primary"
          class="m-8"
          [disabled]="formGroup.invalid"
        >
          Run animation
        </button>
      </form>
    </div>
  </div>
</mat-card>
