#obj1 {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  opacity: 1;
}

.container {
  width: 75vw;
  height: 150px;
  margin: auto;
  border: 1px solid black;
  overflow: auto;
}