#memory {
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 1;
}

#cache {
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 1;
}

.container {
  border: 1px solid black;
  overflow: auto;
}